.HeroSection {
    height: 99vh;
    background-image: url('../../../public/Assets/herobanner.webp');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeroSection form {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1.6% 1%;
    width: 65vw;
    border-radius: 15px;
}

.title {
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    padding: 0 17%;
    text-align: center;
    font-weight: 700;
    color: var(--title-text);
    border-bottom: #000 1px solid;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.title span {
    background-color: var(--secondary-color);
}

.inputWrap {
    display: flex;
    gap: 10px;
}

.inputWrap input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #eaeaea;
    padding: 1%;
    border-radius: 5px;
    font-size: 13px;
    color: #000;
}

.inputWrap input::placeholder {
    color: #000;
}

.heroBtn {
    border: none;
    background-color: #E94235;
    color: #fff;
    margin-top: 2%;
    align-self: center;
    font-size: 13px;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}

.headerBottom {
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0px;
    color: #ffffff;
    text-align: center;
}

.headerBottom span {
    position: relative;
}

.headerBottom span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -3%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.headerBottom span::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.enquire {
    padding: 5px 20px;
    color: #fff;
    border-radius: 10px 10px 0 0;
    position: absolute;
    background-color: var(--primary-color);
    top: 65%;
    right: -52px;
    transform-origin: center;
    transform: rotate(270deg);
    cursor: pointer;
}