.HeroSection {
    height: 99vh;
    background-image: url('../../../public/Assets/heroBanner.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.HeroSection form {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1.6% 1%;
    width: 65vw;
    border-radius: 15px;
}

.title{
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    color: var(--title-text);
    border-bottom: #000 1px solid;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.titleMobile{
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-weight: 700;
    color: var(--title-text);
    border-bottom: #000 1px solid;
    padding-bottom: 2%;
    margin-bottom: 2%;
    font-size: 16px;
}

.title span, .titleMobile span{
    background-color: var(--secondary-color);
}

.inputWrap {
    display: flex;
    gap: 10px;
}

.inputWrap input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #eaeaea;
    padding: 1%;
    border-radius: 5px;
    font-size: 13px;
    color: #000;
}

.inputWrap input::placeholder {
    color: #000;
}

.heroBtn {
    border: none;
    background-color: #E94235;
    color: #fff;
    margin-top: 2%;
    align-self: center;
    font-size: 13px;
    padding: 10px 30px;
    border-radius: 50px;
}

.headerBottom {
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0px;
    color: #ffffff;
    text-align: center;
}

.headerBottom span {
    position: relative;
}

.headerBottom span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -3%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.headerBottom span::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.enquire {
    padding: 5px 20px;
    color: #fff;
    border-radius: 10px 10px 0 0;
    position: fixed;
    background-color: var(--primary-color);
    top: 65%;
    right: -52px;
    transform-origin: center;
    transform: rotate(270deg);
    cursor: pointer;
}

.HeroSection p{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 2% 0% 0%;
}

@media (max-width: 1150px) {
    .title {
        font-size: 19px;
    }
}

@media (max-width: 1000px) {
    .HeroSection form {
        width: 70vw;
    }
    .title {
        font-size: 18px;
    }
}

@media (max-width: 810px) {
    .inputWrap {
        padding: 2%;
        flex-direction: column;
        gap: 15px;
    }

    .inputWrap input {
        padding: 2%;
    }
}

@media (max-width: 750px) {
    .title {
        display: none;
    }

    .heroBtn {
        /* padding: 5px 20px; */
        font-size: 12px;
    }

    .enquire {
        font-size: 14px;
        right: -47.5px;
    }
    
    .headerBottom {
        font-size: 14px;
    }

    .HeroSection p{
        font-size: 11px;
    }
}

@media (max-width: 350px) {
    .titleMobile {
        font-size: 14px;
    }
}

@media (max-width: 310px) {
    .titleMobile {
        font-size: 13px;
    }
}

@media (max-width: 370px) {
    .HeroSection form {
        width: 70vw;
    }
}

@media (min-width: 751px) {
    .titleMobile {
        display: none;
    }
}

