.IconsContainer {
    background-color: #eaeaea;
    padding: 3%;
    display: flex;
    gap: 1rem;
}

.EachIcon {
    background-color: #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 30px;
    border-radius: 10px;
}

.EachIconText{
    text-align: center;
}

.EachIconText h5 {
    font-family: "Crimson Text";
    font-size: 14px;
    font-weight: 500;
    color: #244588;
}

.EachIconText h6 {
    font-family: "Crimson Text";
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
}

.IconImage {
    margin-bottom: 3%;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

@media (max-width: 750px) {
    .IconsContainer {
        flex-wrap: wrap;
    }
    .EachIcon{
        min-width: 100px;
    }
    .IconImage {
        width: 60px;
        height: 60px;
    }

    .EachIconText h5 {
        font-size: 12px;
    }

    .EachIconText h6 {
        font-size: 14px;
    }
}