.NavbarWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    color: #fff;
    padding: 3px 3% 3px 4%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.NavbarLogo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.NavbarMenu {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5%;
}

.MenuItem {
    font-family: 'Crimson Text', serif;
    cursor: pointer;
}

.NavbarContacts {
    display: flex;
    align-items: center;
    gap: 8px;
}

.NavbarContacts span {
    display: flex;
}

.NavbarContacts p {
    font-size: 16px;
    font-family: 'Crimson Text', serif;
}